.div{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}

p2 {
  margin-left: 10em;
  margin-right: 10em;
  font-size: 1em;
  justify-content: left;
  flex-direction: column;
  
}

button {
  margin-top: 2em;
  margin-bottom: 2em;
}
