
/*html, body {

  height: 100%;
}

body {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 2em;
  font-size: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
}

.modal {
  width: 500px;
  background: white;
  border: 1px solid #ccc;
  transition: 1.1s ease-out;
  box-shadow: 
    -2rem 2rem 2rem rgba(black, 0.2);
  filter: blur(0);
  transform: scale(1);  
  opacity: 1;
  visibility: visible;
  &.off {
    opacity: 0;
    visibility: hidden;
    filter: blur(8px);
    transform: scale(0.33);
    box-shadow: 1rem 0 0 rgba(black, 0.2);
  }
  
  .background {
    background-image: url(https://http://localhost:3002/connectyards);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
  
  // Background Blur using backdrop-filter
  .blur {
    animation: changeWidth 8s ease-in-out infinite;
    background: rgba(255, 255, 255, 0.2); // Make sure this color has an opacity of less than 1
    backdrop-filter: blur(8px); // This be the blur
    height: 100vh;
    width: 50%;
  }

  // Animation that changes the width of the blur
@keyframes changeWidth {
  0% {
    width: 0%;
  }
  5% {
    width: 0%;
  }
  50% {
    width: 50%;
  }
  80% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}


  @supports (offset-rotate: 0deg) {
    // OLD
    // offset-rotation: 0deg;
    // NEW
    offset-rotate: 0deg;
    offset-path: path("M 250,100 S -300,500 -700,-200");
    &.off {
      offset-distance: 100%;
    }
  }
  @media (prefers-reduced-motion) {
    offset-path: none;
  }
  h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
  }
  .content {
    padding: 1rem;
  }
  .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    button {
      border: 0;
      background: white;
      opacity: 1.0;
      border-radius: 5px;
      padding: 0.5rem 1rem;
      font-size: 0.8rem;
      line-height: 1;
    }
  }
}

#centered-toggle-button {
  position: absolute;

}

.validation {
  color: red;
  margin-bottom: 1rem;
} */
