@import "../styles/variables.scss";

.input1 {
  width: 650px;
  margin-left: 25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: $font-family;
}

.text {
  width: 650px;
  margin-left: 25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: $font-family;
}

.validation1{
  color: red;
  font-size: 1.2em;
}

.button {
  border: 0;
  opacity: 1.0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1;
}

.contactImage{
margin-top: 20px;
width: 400px;
height: 400px; 
}