@import "../styles/variables.scss";

.input1 {
  width: 650px;
  margin-left: 25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: $font-family;
}

.text {
  width: 650px;
  margin-left: 25em;
  margin-bottom: 1em;
  font-size: 1.5em;
  font-family: $font-family;
}