
/****div{
.row {
display: flex;
}

.column{
  flex: 50%;
  
}


ul{
  
  list-style: none;

li { 

  display: flex;
  margin-bottom: 15px;
  align-items: left;
  justify-content: center;

}

}

}****/

.row {
  display: flex;
  }
  
.column {
  margin-left: 20em;
  margin-right: 13em;
  flex: 50%;
  }

  ul{
  
    list-style: none;
  
  li { 

    display: flex;
    margin-bottom: 15px;
    align-items: left;
    justify-content: left;
  
  }
  
  }