@import "../styles/variables.scss";

p {
    margin-left: 14em;
    margin-right: 20em;
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: justify;
    font-size: 1.5rem;
    font-family: $font-family;
}