@import "../styles/variables.scss";

p {
    margin-left: 16em;
    margin-right: 16em;
    //margin-top: 2em;
    //margin-bottom: 2em;
    text-align: justify;
    font-size: 2em;
    font-family: $font-family;
}