nav {
  div {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    margin-left: 15em;
    margin-right: 10em;
    margin-top: 5em;
    margin-bottom: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li { 
      display: inline-block; 
    }
}