.navBar {
  ul {
    margin-left: 15em;
    margin-right: 10em;
    margin-top: 10em;
    margin-bottom: 2em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  li { 
      display: inline-block; 
      margin-right: 100px;
      font-size: 1em;
      

    }
} 

/***top: 0;
  margin-left: 40em;
  margin-right: 30em;
  position: fixed;***/